11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.

In [3]:
def hours():
    return "Open 9-5 daily"

11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

In [4]:
print(hours())

Open 9-5 daily

Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

In [ ]:
import sqlalchemy as sqa

con = sqa.create_engine('sqlite:///books.db')
col = con.execute('SELECT title FROM books')

for i in col:
    print(i)

AttributeError: 'Engine' object has no attribute 'execute'